@use "media-mixins" as *;
@use "variables" as *;

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1480px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    height: 100vh;
}

.dashboard-wrapper {
    @include lg-min {
        display: grid;
        grid-template-columns: 306px 1fr;
    }

    @include lg {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }

    padding-bottom: 40px;
    height: 100%;

}

a {
    text-decoration: none;
}

li {
    list-style: none;
}